.contact-wrapper{
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-container{
    height: 80%;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f3f1f1;
    
    border-radius:  0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    text-align: center;
}
.name{
    height: 50px;
    width: 250px;
    border: 1px solid black ;
    border-radius: 5px;
    padding: 5px;
}
.message{
    height: 90px;
    width: 280px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.send-btn{
    margin-top: 5px;
    height: 40px;
    width: 110px;
    font-size: larger;
    font-weight: bolder;
    color: darkgreen;
    background-color: bisque;
    border: 3px solid gray;
    cursor: pointer;
    text-align: center;
    margin-left: 45px;
    border-radius: 5%;
}
.send-btn:hover{
    
    background-color: lightgray;
}
.form-wrapper{
    display: flex;
    /* gap: 3px; */
    flex-direction: column;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .contact-container{
        flex-direction: column;
        width: 40%;
        padding: 1rem 1rem;
    }
  
  }












