.review-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-title{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 4px;
  margin-top: 3px;
}
.review {
  background: #fff;
  padding: 1.5rem 1.5rem;
  border-radius:  0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  text-align: center;
  width: 75%;
  margin-top: 10px;
  
}
.review:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  margin-top: 10px;
}
.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: hsl(205, 78%, 60%);
  color:  #fff;
}
.img-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background: hsl(205, 78%, 60%);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
.author {

  margin-bottom: 1.25rem;
  margin-top: 10px;
  font-weight: bold;
}
.job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: hsl(205, 78%, 60%);
  font-size: 0.85rem;
}
.info {
  margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
  color:hsl(205, 78%, 60%);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: hsl(205, 78%, 60%);
}

.button-container{
  margin: 10px;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .review {
    width: 770px;
    margin-top: 20px;
    /* height: 420px; */
  
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}