
  /* @import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Dongle&family=Satisfy&display=swap'); */
 
  @import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Dongle&family=Satisfy&display=swap');
 
  *{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Aref Ruqaa Ink', serif;
   
  }
  